
body{
    padding: 0px;  
    max-width: 100%;
    overflow-x: hidden; 
}
p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    margin-left: 7vw;
    margin-right:7vw;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goodnews{
    position: sticky;
    top: 100px;
}
h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    margin-left: 7vw;
    margin-right:7vw;
}

h1:hover {
    color: green;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-weight: 500;

}


.wrap {
    float: right; 
    position: relative;
    left:190px;
    margin: 0px;
    shape-outside: url(images/abortolegal.png);
   }

.cactuspic{
    float: left;
    right:200px;
    margin: 0; 
    shape-outside: url(images/miguel-urieta-6ZeLo8O7lU0-unsplash\ copy.png);
}