
body{
    padding: 0px;  
    max-width: 100%;
    overflow-x: hidden; 
}
p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    margin-left: 7vw;
    margin-right:7vw;
    line-height: 2;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goodnews{
    position: sticky;
    top: 100px;
}
h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    margin-left: 7vw;
    margin-right:7vw;
}

h1:hover {
    color: green;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-weight: 500;

}


.wrap {
    float: right; 
    position: relative;
    left:190px;
    margin: 0px;
    shape-outside: url(images/abortolegal.png);
   }

.cactuspic{
    position: relative;
    margin: 0; 
    translate: -8%;
    /* shape-outside: url(images/miguel-urieta-6ZeLo8O7lU0-unsplash\ copy.png); */
}

.source{
    color: grey;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
  }



  @media (max-width: 600px) {
  body {
    padding: 0; 
}

p {
    font-size: 18px; 
    margin-left: 1vw;
    margin-right: 1vw;
}

h1 {
    font-size: 40px; 
    margin-left: 2vw;
    margin-right: 2vw;
}

.container {
    flex-direction: column; 
    align-items: flex-start; 
}

.goodnews {
    position: static; 
    width: 50%;
}

.wrap {
    float: none; 
    left: 0; 
    margin: 0; 
    shape-outside: none; 
    width: 100%; 
    height: auto;
}

.cactuspic img{
    translate: 0; 
    width: 100%; 
    height: auto;
}

.source {
    font-size: 18px;
}

  }