body{
    overflow-x: hidden; 
}
p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: left;
    line-height: 2;
    margin-left: 7vw;
    margin-right:7vw;
}

h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 7vw;
    margin-right:7vw;
}

h2{
    color: #000;
text-align: center;
font-family: Libre Bodoni;
font-size: 32px;
font-weight: 500;
line-height: normal;
letter-spacing: 3.2px;
margin-left: 7vw;
    margin-right:7vw;
}


  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* border:1px solid black; */
  }
  
  .image {
    flex: 1;
    /* min-width: 370px; */
    /* border:1px solid black; */
    align-items: center;
    justify-content: center;
  }
  

.graphs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height:auto;
    align-content: center;
    position: sticky;
}

.charttitle{
    color: #002147;
    font-family: Libre Bodoni;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.2px;
    text-align: center;
    padding-top: 80px;

}

.chartsubs{
    color: #666;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}


.goodnews{
    padding-top: 10vh;
    padding-bottom:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}