body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 7vw;
    padding-right: 7vw;
    line-height: 2;
}

h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

h2{
    color: #000;
text-align: center;
font-family: Libre Bodoni;
font-size: 32px;
font-weight: 500;
line-height: normal;
letter-spacing: 3.2px;
}

.headimage{
    position: relative;
    padding-bottom: 60px;
    display: block;
    margin-left: 7vw;
    margin-right: 7vw;
}
.headertext {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .twittercontainer{
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
    margin-right: 7vw;
 }

 .twitter{
    max-width: 100%;
    padding-bottom: 8%;
 }
 .openingtext{
    float: left;
    width: 50%;
    padding-right: 50px;
 }

 .castle-container{
    position: relative;
    width: 100vw;
    padding-bottom: 60px;   
 }

 .margins{
    padding-left: 7vw;
    padding-right: 7vw;
  }

.centered {
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottomtext{
    position: absolute;
    top: 580%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bluetext{
    color:rgb(66, 101, 115);
    transition: color 0.3s ease;
  }

  .bluetext:hover {
    color: rgb(0, 0, 128); /* Darker blue color */
  }

  .container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }


  .realcontainer {
    position: relative;
    width: 100vw; /* Adjust as needed */
    height: auto; /* Adjust as needed */
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay{
    position: absolute;
    top: 480%;
    left: 13%;
    z-index: 1; /* Higher z-index to appear on top of the image */
  }

  .left-content {
    position: absolute;
    top:490%;
    left: 14%;
    z-index: 2;
  }

  .bubble-1{
    position: absolute;
    top: 26%;
    left: 37%;
    z-index: 2;
  }

  .bubble-1-content{
    position: absolute;
    top: 30%;
    left: 16%;
    z-index: 3; 
    padding-left: 3%;
  }

  .smalltext{
    color: black;
    font-size: 15px;
    font-family: Baskervville;
    padding-left: 20vw;
    padding-right: 34vw;
    line-height: 1.3;
    text-align: center;
  }

  .cloudtext{
    color: black;
    font-size: 20px;
    font-family: Baskervville;
    line-height: 1.8;
    text-align: center;
  }

  .clouds-container {
    position: relative;
    width: 100vw; /* Adjust as needed */
    height: auto; /* Adjust as needed */
  }

  .cloud1{
    position: absolute;
    top: 13%;
    left: 5%;
    z-index: 1;
  }

  .cloud1-content{
    position: absolute;
    top: 23%;
    left: 2%;
    z-index: 3; 
    padding-right: 60vw;
  }

  .cloud2{
    position: absolute;
    top: 30%;
    left: 60%;
    z-index: 1;
  }

  .cloud2-content{
    position: absolute;
    top: 38%;
    left: 60%;
    z-index: 3; 
    padding-right: 1vw;
  }

  .cloud3{
    position: absolute;
    top: 70%;
    left: 20%;
    z-index: 1;
  }

  .cloud3-content{
    position: absolute;
    top: 82%;
    left: 15%;
    z-index: 3; 
    padding-right: 42vw;
  }

  .source{
    color: grey;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
  }

  .padding{
    padding: 30px;
  }