body{
    margin: 0px;
    padding: 0px;
}

p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 7vw;
    padding-right: 7vw;
    line-height: 2;
}

h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

h2{
    color: #000;
text-align: center;
font-family: Libre Bodoni;
font-size: 32px;
font-weight: 500;
line-height: normal;
letter-spacing: 3.2px;
}

.headimage{
    position: relative;
    padding-bottom: 60px;
    display: block;
    margin-left: 7vw;
    margin-right: 7vw;
}
.headertext {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .twittercontainer{
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
    margin-right: 7vw;
 }

 .twitter{
    max-width: 100%;
    padding-bottom: 8%;
 }
 .openingtext{
    float: left;
    width: 50%;
    padding-right: 50px;
 }

 .castle-container{
    position: relative;
    width: 100vw;
    padding-bottom: 60px;   
 }

 .margins{
    padding-left: 7vw;
    padding-right: 7vw;
  }
.windowcontainer{
    position: relative;
    top:-10%;
    text-align: center;
}
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .windowpic{
    width: 100vw;
  }

  .bottomtext{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bluetext{
    color:rgb(66, 101, 115);
  }


  .container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }

  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust as needed */
  }

  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .container:hover .overlay-image {
    opacity: 1;
  }