body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* cursor: none; */
       
}


p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    justify-content: left;
    align-items: left;
    padding-left: 7vw;
    padding-right: 7vw;
    line-height: 2;
    z-index: 1;
    position: relative;
}

h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 1;
    text-align: center;
    position: relative;
}
h2{
    color: #000;
text-align: left;
font-family: Libre Bodoni;
font-size: 32px;
font-weight: 500;
line-height: normal;
z-index: 8;
padding-left: 7vw;
}

.headimage{
    padding-top: 8vh;
    display: block;
    margin-left: 7vw;
    margin-right: 7vw;
   
}


 .margins{
    padding-left: 7vw;
    padding-right: 7vw;
  }

  .source{
    color: grey;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
  }

  .whale{
    position: static;
    padding-left: 30vw;
  }

  .padding{
    padding: 3vh;
  }

  
  .lotioncontainer {
    position: relative;
    height: 170vh;
}
  .lotion1{
    position: absolute;
    z-index: -1;
    top:3vh;
  }

  .lotion2{
    position: absolute;
    z-index: -1;
    left:60vw;
    top:-9%;
  }

  .grass{
    position: absolute;
    z-index: -1;
    top:53%;
    width: 100vw;
  }

  .fat-padding{
    padding: 18vh;
  }

