body{
    margin: 0px;
    padding: 0px;
}


p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: left;
    line-height: 200%;
}

.whitetext{
  color:white;
}

h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
h2{
    color: #000;
text-align: center;
font-family: Libre Bodoni;
font-size: 32px;
font-weight: 500;
line-height: normal;
letter-spacing: 3.2px;
}

.headimage{
    padding-bottom: 60px;
    display: block;
    margin-left: 7vw;
    margin-right: 7vw;
   
}

.padding{
  padding-bottom: 30px;
}

  .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .headcontainer {
    position: relative;
    padding-bottom: 60px;
  }

 .margins{
    padding-left: 7vw;
    padding-right: 7vw;
  }

.headertext {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-container{
  display: flex;
  flex-direction:row;
  width: 86vw; 
  margin-left: auto;
  margin-right: auto;
}

.column{
  width:100vw;
  text-align: justify;
  padding-left: 2vw;
    padding-right: 2vw;
}


.leftImage {
  position: absolute;
  left: 0;
  top: 0; 
  width: 300px; 
  height: auto; 
}

.plane1 > *{
  animation: fly 15s linear infinite;
  top: 0;
left: 0;
position: fixed;
z-index: 999;
pointer-events: none;
}


@keyframes fly {
  0% {
    transform: translate(-120vw, 50vh) rotateZ(0deg);
  }

  25% {
    transform: translate(20vw, 50vh) rotateZ(0deg);
  }

  50% {
    transform: translate(120vw, 100vh) rotateZ(45deg);
  }

  75% {
    transform: translate(120vw, -50vh) rotateZ(90deg);
  }

  100% {
    transform: translate(120vw, -50vh) rotateZ(135deg);
  }
}

.plane2 > *{
  animation: soar 15s linear infinite;
  top: 0;
left: 0;
position: fixed;
z-index: 999;
pointer-events: none;
}

@keyframes soar {
  0% {
    transform: translate(120vw, 100vh);
  }

  25% {
    transform: translate(20vw, -50vh) rotateZ(18deg);
  }

  50% {
    transform: translate(-120vw, 50vh);
  }

  75% {
    transform: translate(-120vw, 150vh);
  }

  100% {
    transform: translate(-120vw, 150vh) rotateZ(-45deg);
  }
}

.plane3 > *{
  animation: flyRightOnly 20s linear infinite;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 888;
  pointer-events: none;
}

@keyframes flyRightOnly {
  0% {
    transform: translate(-120vw, 30vh) rotateZ(0deg);
  }

  25% {
    transform: translate(20vw, 80vh) rotateZ(14deg);
  }

  50% {
    transform: translate(120vw, 30vh);
  }

  75% {
    transform: translate(120vw, 130vh);
  }

  100% {
    transform: translate(120vw, 130vh) rotateZ(20deg);
  }
}


.plane4 > *{
  animation: flyLeftOnly2 20s linear infinite;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 888;
  pointer-events: none;
}
@keyframes flyLeftOnly2 {
  0% {
    transform: translate(120vw, 70vh);
  }

  25% {
    transform: translate(-20vw, 20vh) rotateZ(40);
  }

  50% {
    transform: translate(-120vw, 70vh);
  }

  75% {
    transform: translate(-120vw, 170vh) rotateZ(-25deg);
  }

  100% {
    transform: translate(-120vw, 170vh) rotateZ(0deg);
  }
}