
body {
  padding: 0px;  
  max-width: 100%;
  overflow-x: hidden; 
}

p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 7vw;
    margin-right:7vw;
}

h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 7vw;
    margin-right:7vw;
}
h2{
    color: #000;
text-align: center;
font-family: Libre Bodoni;
font-size: 32px;
font-style: italic;
font-weight: 500;
line-height: normal;
letter-spacing: 3.2px;
margin-left: 7vw;
  margin-right:7vw;
}

.headerpic{
    width: 1390px;
    height: 395px;
    flex-shrink: 0;
}


  .goodnews{
    padding-top: 10vh;
    padding-bottom:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.flex-container{
  display: flex;
  flex-direction:row;
  width: 86vw; 
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; 
  /* border:1px solid black; */
}

.column{
  /* border:1px solid black; */
  width:27vw;
  text-align: justify;
}

.columntext{
  color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    margin: 0;
}
.pill-container{
  display: flex;
  flex-direction:column;
  width: 86vw; 
  margin-left: 0;
  margin-right: auto;
  justify-content: space-between; 
  /* border:1px solid black; */
}

.weeks{
  /* border:1px solid black; */
  width:27vw;
}
