*{
    margin: 30px;
    padding: 0px;
}

   /* Define the gradient animation */
   @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  /* Apply the animation to an element with the "gradient" class */
  .gradient {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #A7D4E5, #B7DBE8, #FFFFFF, #ff33f9);
    background-size: 400% 400%;
    animation: gradientAnimation 15s linear infinite;
  }

p{
    color: black;
    font-size: 24px;
    font-family: Baskervville;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: left;
}

h1{
    color: black;
    font-size: 60px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
h2{
    color: #000;
text-align: center;
font-family: Libre Bodoni;
font-size: 32px;
font-style: italic;
font-weight: 500;
line-height: normal;
letter-spacing: 3.2px;
}

.headerpic{
    width: 1390px;
    height: 395px;
    flex-shrink: 0;
}

.flex-container {
    display: flex;
    width: 1250px; 
    margin: 0 auto; 
    text-align: justify;
  }
  
  .column {
    flex: 1;
    margin: 10px;
  }
  .bodyimage{
    width: 1090px;
    height: 838px;
    padding-bottom: 60px;
  }
  .sciencepics{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .pics{
    flex: 1;
    min-width: 370px;
  }
  
  .flex-container2{
    display: flex;
    width: 1250px; 
    margin: 0 auto; 
    text-align: justify;
  }

  .background{
    background-color: beige;
  }

  .vector{
    width: 831.984px;
height: 586px;
transform: rotate(-6.465deg);
flex-shrink: 0;
fill: #A7D4E5;
object-position: left;
  }